.container-center__concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-left: 15%;
  margin-right: 15%;
  .container-center__concept-img {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .container-center__concept-img img {
    width: 100%;
  }

  .container-center__concept-content {
    display: flex;
    flex-direction: column;
    position: absolute;

    width: 100%;
    h2 {
      text-align: center;
      font-weight: bolder;
      margin: 2px 0;
    }
    p {
      background-color: #fff;
      margin: 10px 0;
      padding: 5px;
      margin-left: 15%;
      margin-right: 15%;
      border-radius: 8px;
    }
    @include tablet {
      h2 {
        text-align: center;
        font-weight: bolder;
        margin: 2px 0;
      }
      p {
        background-color: #fff;
        margin: 10px 0;
        padding: 5px;
        margin-left: 15%;
        margin-right: 15%;
        border-radius: 10px;
      }
    }
    @include movil {
      h2 {
        text-align: center;
        font-weight: bolder;
        margin: 2px 0;
        font-size: 18px;
      }
      p {
        background-color: #fff;
        margin: 1px 0;
        padding: 1px;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 6px;
        font-size: 8px;
      }
    }
  }
}
