.container-gallery {
  background-color: #042603;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

  h2 {
    text-align: center;
    color: white;
    width: 100%;
    margin: 25px 0;
  }

  .container-blog {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .container-blog__card {
    width: 550px;

    img {
      width: 100%;
    }
  }

@include movil {
  h2 {
    font-size: 16px;
    margin: 12px 0;
  }
}


}