// Typography
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');



* {
  font-family: 'Fredoka', sans-serif;
  
}

h1 {
  font-size: $title;
  color: $stroke;
  @include desktop {
    font-size: $title-desktop;
  }
}

h2 {
  font-size: $subtitle;
  color: $stroke;
  @include desktop {
    font-size: $subtitle-desktop;
  }
}

p {
  font-size: $paragraph;
  color: $stroke;
  @include desktop {
    font-size: $paragraph-desktop;
  }
}
