//Color
$main: #EEEEEE;
$stroke: #272343;
$highlight: #8B9A46;
$secondary: #541212;
$tertiary: #bae8e8;
$background: #000106;

//Sizes
$title: 32px;
$title-desktop: 40px;
$title-desktop-content: 100px;
$subtitle: 26px;
$subtitle-desktop: 34px;
$title-desktop-content: 80px;
$paragraph: 20px;
$paragraph-desktop: 28px;

//screen-sizes
$tablet: 768px;
$tablet2: 880px;
$desktop: 992px;
$movil: 478px;

//border
$border-size: 5px;
$border: $border-size solid $highlight;

//margins
//$margin-viewport: 30px;
//$margin-hero: 20px;

//gallery-item
$size-container-gallery: 200px;
$size-container-gallery-desktop: 400px;
$margin-gallery: 20px;
