.header {
  display: flex;
  justify-content: space-evenly;
  background-color: $background;
  width: auto;
  justify-content: space-between;
  @include movil {
    padding: 0;
    margin: 0;
    width: auto;
  }

  .logo-container {
    display: flex;
    max-width: 100px;
    @include movil {
      max-width: 100px;
    }
    &__img {
      width: 100%;
    }
  }

  .navigation {
    

    .navigation__list {
      display: flex;
      // width: 600px;
      @include movil {
        a {
          width: auto;
          padding: 0;
          margin: 0;
        }
      }
      &__list {
        display: flex;
        justify-content: space-evenly;
        margin: 0px;
        padding: 0;
      }

      &__item {
        margin: 0 25px;
        cursor: pointer;
        @include movil {
          padding: 0;
          margin: 0px;
          &__item a {
            font-size: 15px;
          }
        }
      }
      &__item:hover {
        text-decoration: underline 1px solid;
      }
    }
  }
  a {
    color: $main;
  }
}
