.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: #000106;
  @include tablet {
    width: 100%;
    height: 100px;
  }
  @include movil {
    width: 100%;
    height: 75px;
  }
  @include movil {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
  }
  .logo-container {
    &__img {
      width: 100%;
      height: 100%;
    }
  }

  .navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .navigation__list {
      display: flex;
      width: 55%;
      justify-content: space-around;
      &__item {
        color: $main;
      }
      &__item:hover {
        color: $main;
        border-bottom: 1px solid #d9ad26;
        padding: 0;
        margin: 0;
      }
      @include tablet {
        &__item > a {
          font-size: 14px;
          padding: 6px;
        }
      }
      @include movil {
        &__item > a {
          font-size: 10px;
          padding: 2px;
        }
        &__item:hover {
          color: $main;
          border-bottom: 1px solid #d9ad26;
          padding: 0;
          margin: 0;
        }
      }
    }
  }
}
