.container-contact {

    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    p {
        font-size: 16px;
        position: absolute;
        color: white;
        padding: 2px 5px;
        background-color: black;
        border-radius: 2px;
    }

    .container-contact__img {

        img {
            padding: 0;
            margin: 0;
            width: 100%;
            opacity: 0.5;

        }

    }



}